{{page-title "AsyncModel"}}

{{!-- The following component displays Ember's default welcome message. --}}
<h1>APPLICATION PAGE</h1>
{{link-to 'foo' 'foo'}}
{{!-- Feel free to remove this! --}}

{{outlet}}
